<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by {{data.name}}.</p>
      <div class="footer-icons">
        <a [href]="data.linkedin"  target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a [href]="data.github"  target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a [href]="data.emailTo">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
