<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    Please review my educational background, including the languages I'm proficient in, my college education, technical courses I've completed, and the technologies I've gained experience with.                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
