<div class="accordion-left">

  <accordion [isAnimated]="true">
    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      @for (item of language; track $index) {
      <p>{{item.type}} <strong><span class="default-highlight">{{item.name}}</span></strong></p>
      }
    </div>
    </accordion-group>
    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      @for (item of education; track $index) {
      <p>{{item.year}} - {{item.board}} - <strong><span class="default-highlight">{{item.field}}</span></strong> - {{item.degree}}</p>
      <ul>
        <li>
           {{item.name}} | {{item.address}}
        </li>
      </ul>
      }
    </div>    
  </accordion-group>
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
        @for (item of technology; track $index) {
          <div class="tech-cell">
              <i [className]="item"></i>
          </div>
        }
      </div>
    </accordion-group>
  </accordion>
</div>