<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2022 - RGPV - <strong><span class="default-highlight">Chemical Engineering</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Madhav institute of technology & Science | Gwalior, India
        </li>
      </ul>
      <p>2017 - MP Board - <strong><span class="default-highlight">Science Stream</span></strong> - Higher Secondary Education (12th Grade)</p>
      <ul>
        <li>
          Government S G Boys Higher Secondary School NO 1 | Indore, India
        </li>
      </ul>
      <p>2015 - MP Board - <strong><span class="default-highlight">10th Grade</span></strong> - Secondary Education</p>
      <ul>
        <li>
          Manas Convent Higher Secondory Schools | Rajgarh-Dhar, India
        </li>
      </ul>
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-spring-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-hibernate-plain-wordmark"></i>
          </div>

          <div class="tech-cell">
              <i class="devicon-sqlite-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-sqlalchemy-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>